ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float:right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
#logo-img {
    display: block;
    position: static;
    z-index: auto;
    padding-top: 109px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#search{
    box-sizing: content-box;
    display: flex;
    position: static;
    z-index: auto;
    margin: 0 auto;
    width: 50%;
    height: 25px;
    border-radius:50px ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}

button{
    display: inline-block;
    position: relative;
    left: 30%;
    width: 20%;
    margin-top: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
 padding: 8px;



}
footer a{
    padding: 8px;
    text-decoration: none;
}