#logo-img {
    display: block;
    position: static;
    z-index: auto;
    padding-top: 109px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#search{
    box-sizing: content-box;
    display: flex;
    position: static;
    z-index: auto;
    margin: 0 auto;
    width: 50%;
    height: 25px;
    border-radius:50px ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}

button{
    display: inline-block;
    position: relative;
    left: 30%;
    width: 20%;
    margin-top: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}